.Learn {
  height: 100%;
  margin: 0;
}

/*.Table {
  
  background: url("../assets/table.png") no-repeat center;
  background-size: cover;
  height: 322px;
  width: 579px;
}*/

.tableSide {
  width: 378px;
  height: 34px;
}

.tableSideDiv {
  margin-top: -315px;
}

.table {
  width: 579px;
  height: 322px;
}

.tableDiv {
  margin-top: -280px;
}

.engraving {
  width: 380px;
  height: 250px;
}

.engravingDiv {
  margin-top: -10px;
}

.paintColors {
  width: 40px;
  height: 35px;
}

.paintColorsDiv {
  margin-top: -275px;
  margin-left: 280px;
}

.brush {
  width: 70px;
  height: 22px;
}

.brushDiv {
  margin-top: -35px;
  margin-left: 110px;
  transform: rotate(-5.28deg);
}

.paintRight {
  width: 104px;
  height: 133px;
}

.paintRightDiv {
  margin-top: 140px;
  margin-right: -650px;
}

.floor {
  width: 897px;
  height: 404px;
}

.brushStrokeDiv {
  margin-top: -270px;
  margin-right: -650px;
}

.brushStroke {
  width: 156px;
  height: 102px;
}

.splat {
  width: 28px;
  height: 21px;
}

.splatDiv {
  margin-top: -197px;
  margin-left: 35px;
}

.fanDiv {
  margin-top: -240px;
  margin-left: -590px;
}

.fan {
  width: 202px;
  height: 160px;
}

.leavesDiv {
  margin-top: -280px;
  margin-left: -700px;
}

.leaves {
  width: 180px;
  height: 680px;
}

.hiraganaBoardDiv {
  margin-top: -455px;
  margin-left: -700px;
}

.hiraganaBoard {
  width: 93px;
  height: 320px;
}

.scrollsDiv {
  margin-top: -220px;
  margin-left: -390px;
}

.scrolls {
  width: 132px;
  height: 120px;
}

.papersDiv {
  margin-top: -140px;
  margin-left: 390px;
}

.drawing {
  margin-top: -150px;
}

.canvas {
  margin-top: -40px;
  margin-left: -30px;
}

.audio {
  margin-top: 3px;
}

.character {
  margin-right: 35px;

}

.letters {
  width: 100px;
  height: 300px;
  margin-top: -320px;
  margin-left: 20px;
}

.mobileA {
  margin-left: 3px;
}

.mobileKa {
  margin-left: 6px;
  padding-right: 4px;
}

.mobileSa {
  margin-left: 3px;
  margin-top: 20px;
  /*padding-right: 4px;*/
}

.mobileTa {
  margin-top: 20px;
  margin-left: 6px;
  padding-right: 4px;
}

.mobileNa {
  margin-top: 20px;
  margin-left: 3px;
  /*padding-right: 4px;*/
}

.mobileHa {
  margin-top: 20px;
  margin-left: 6px;
  padding-right: 4px;
}

.mobileMa {
  margin-top: 20px;
  margin-left: 3px;
  /*padding-right: 4px;*/
}

.mobileYa {
  margin-top: 20px;
  margin-left: 6px;
  padding-right: 4px;
}

.mobileRa {
  margin-top: 20px;
  margin-left: 3px;
  /*padding-right: 4px;*/
}

.mobileWa {
  margin-top: 20px;
  margin-left: 6px;
  padding-right: 4px;
}

.mobileN {
  margin-top: 20px;
}
/*.hiragana {
  background-color: #FBF0E0;;
}*/

/*.TableSide {

  background-image: url("../assets/tableSide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 436px;
  height: 34px;
  padding-top: 70px;
  margin: auto;
}
*/

/*.Engraving {
  background: url("../assets/engraving.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 417px;
  height: 250px;
  margin-top: -5px;
  margin-left: 10px;
}

.Fan {
  background-image: url("../assets/fan.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px;
  background-position: right;
  width: 131px;
  height: 145px;
}*/

@media (min-width: 897px) {
  .table {
    /*background: url("../assets/table.png") no-repeat center center;
  background-size: cover;*/
    width: 1345px;
    height: 746px;
    /*margin: 0;*/
  }
}

/*.Floor {
  background: url("../assets/floor.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 2rem;
}
*/
/*.Table {
  
  background: url("../assets/table.png") no-repeat center center;
  height: 746px;
  width: 1345px;
  margin: 0;
}*/

/*.Brush {
  background: no-repeat center/10% url("../assets/brush.png");
  padding: 1rem;
  background-position: top 45px right 550px;
}

.Engraving {
  background: no-repeat center/50% url("../assets/engraving.png");
  background-size: 40% 80%;
  background-position: top 70px left 430px;
  margin: 0;
  padding: 5rem;
}

.Fan {
  background-image: url("../assets/fan.png");
  background-repeat: no-repeat;
  background-position: bottom 100px left 150px;
  height: 100%;
  padding: 1rem;
}

.TableSide {
  background-image: url("../assets/tableSide.png");
  background-repeat: no-repeat;
  background-size: 40% 20%;
  background-position: top 15px left 450px;
}

.Splat {
  background-image: url(../assets/splat.png);
  background-repeat: no-repeat;
  background-size: 7% 20%;
  background-position: top 15px right 650px;
}

.PaintRed {
  background-image: url(../assets/paintRed.png);
  background-repeat: no-repeat;
  background-size: 5% 15%;
  background-position: top 25px right 440px;
}

.PaintBlack {
  background-image: url(../assets/paintBlack.png);
  background-repeat: no-repeat;
  background-size: 5% 15%;
  background-position: top 20px right 400px;
}

.Sousaku {
  background-image: url(../assets/sousaku.png);
  background-repeat: no-repeat;
  background-size: 7% 10%;
  background-position: bottom 0px right 150px;
}

.Palette {
  background-image: url(../assets/palette.png);
  background-repeat: no-repeat;
  background-size: 6% 40%;
  background-position: bottom 50px right 150px;
}

.PaletteRed {
  background-image: url(../assets/paletteRed.png);
  background-repeat: no-repeat;
  background-size: 3% 12%;
  background-position: bottom 120px right 170px;
}

.PaletteBlack {
  background-image: url(../assets/paletteBlack.png);
  background-repeat: no-repeat;
  background-size: 3% 12%;
  background-position: bottom 70px right 170px;
}

.Circle1 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 210px;
}

.Circle2 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 175px;
}

.Circle3 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 140px;
}

.Line1 {
  background-image: url(../assets/line1.png);
  background-repeat: no-repeat;
  background-position: top -50px right 220px;
}

.Line2 {
  background-image: url(../assets/line2.png);
  background-repeat: no-repeat;
  background-position: top -50px right 185px;
}

.Line3 {
  background-image: url(../assets/line3.png);
  background-repeat: no-repeat;
  background-position: top -50px right 155px;
}

.Leaves {
  background-image: url(../assets/leaves.png);
  background-repeat: no-repeat;
  background-position: left;
}

.Canvas {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.Hiragana {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}*/
/* a 5 */

/* NEXT/PREV TOGGLE */

/*position: absolute;
width: 67px;
height: 261.27px;
left: 841px;
top: 973px;

transform: rotate(-90deg);*/

/* Polygon 10 */

/*position: absolute;
width: 67px;
height: 41.06px;
left: 841px;
top: 973px;

background: #706D6D;
box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-90deg);*/

/* Polygon 9 */

/*position: absolute;
width: 67px;
height: 41.06px;
left: 1102.27px;
top: 973px;

background: #706D6D;
box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
transform: matrix(0, -1, -1, 0, 0, 0);
*/

/* Ellipse 9 */

/*position: absolute;
width: 38.9px;
height: 38.9px;
left: 952.5px;
top: 919.94px;

background: #706D6D;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);*/

/* paint srtrokes unselected */

/*position: absolute;
width: 289px;
height: 189.2px;
left: 1659px;
top: 478px;

transform: rotate(-90deg);*/

/* Group 6 */

/*position: absolute;
width: 288.45px;
height: 101.61px;
left: 1760.61px;
top: 189px;

filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.17));
transform: rotate(89.69deg);*/

/* Lovepik_com-401425366-ancient-ink-brush-strokes 1 */

/*position: absolute;
width: 288.45px;
height: 101.61px;
left: 1760.61px;
top: 189px;

background: url(.png);
transform: rotate(89.69deg);*/

/* Group 10 */

/*position: absolute;
width: 240.63px;
height: 93.27px;
left: 1846.89px;
top: 207.25px;*/

/*filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.17));
transform: rotate(89.69deg);*/

/* Lovepik_com-401425366-ancient-ink-brush-strokes 1 */

/*position: absolute;
width: 240.33px;
height: 37.49px;
left: 1791.11px;
top: 207.55px;

background: url(.png);
transform: rotate(89.69deg);*/

/* Lovepik_com-401425366-ancient-ink-brush-strokes 3 */

/*position: absolute;
width: 240.33px;
height: 26.48px;
left: 1846.89px;
top: 207.55px;

background: url(.png);
transform: rotate(89.69deg);
*/

/* kisspng-ink-brush-japanese-tea-ceremony-budaya-tionghoa-pen-5a8b71dc350856 2 */

/*position: absolute;
width: 69.79px;
height: 35.46px;
left: 430.1px;
top: 62.21px;

background: url(.png);
box-shadow: 0px -1.5px 2px rgba(0, 0, 0, 0.36);
transform: rotate(-14.28deg);
*/
