.Learn {
  height: 100%;
  margin: 0;
}

.Floor {
  background: url("../assets/floor.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 2rem;
}

.Table {
  background: url("../assets/table.png") no-repeat center center;
  background-size: 60% 100%;
  height: 70%;
  margin: 0;
}

.Brush {
  background: no-repeat center/10% url("../assets/brush.png");
  padding: 1rem;
  background-position: top 45px right 550px;
}

.Engraving {
  background: no-repeat center/50% url("../assets/engraving.png");
  background-size: 40% 80%;
  background-position: top 70px left 430px;
  /*height: 100%;*/
  margin: 0;
  padding: 5rem;
}

.Fan {
  background-image: url("../assets/fan.png");
  background-repeat: no-repeat;
  background-position: bottom 100px left 150px;
  height: 100%;
  /*margin: 0;*/
  padding: 1rem;
}

.TableSide {
  background-image: url("../assets/tableSide.png");
  background-repeat: no-repeat;
  background-size: 40% 20%;
  background-position: top 15px left 450px;
  /*height: 100%;*/
  /* margin: 0;
  padding: 1rem;*/
}

.Splat {
  background-image: url(../assets/splat.png);
  background-repeat: no-repeat;
  background-size: 7% 20%;
  background-position: top 15px right 650px;
}

.PaintRed {
  background-image: url(../assets/paintRed.png);
  background-repeat: no-repeat;
  background-size: 5% 15%;
  background-position: top 25px right 440px;
}

.PaintBlack {
  background-image: url(../assets/paintBlack.png);
  background-repeat: no-repeat;
  background-size: 5% 15%;
  background-position: top 20px right 400px;
}

.Sousaku {
  background-image: url(../assets/sousaku.png);
  background-repeat: no-repeat;
  background-size: 7% 10%;
  background-position: bottom 0px right 150px;
}

.Palette {
  background-image: url(../assets/palette.png);
  background-repeat: no-repeat;
  background-size: 6% 40%;
  background-position: bottom 50px right 150px;
}

.PaletteRed {
  background-image: url(../assets/paletteRed.png);
  background-repeat: no-repeat;
  background-size: 3% 12%;
  background-position: bottom 120px right 170px;
}

.PaletteBlack {
  background-image: url(../assets/paletteBlack.png);
  background-repeat: no-repeat;
  background-size: 3% 12%;
  background-position: bottom 70px right 170px;
}

.Circle1 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 210px;
}

.Circle2 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 175px;
}

.Circle3 {
  background-image: url(../assets/ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 140px;
}

.Line1 {
  background-image: url(../assets/line1.png);
  background-repeat: no-repeat;
  background-position: top -50px right 220px;
}

.Line2 {
  background-image: url(../assets/line2.png);
  background-repeat: no-repeat;
  background-position: top -50px right 185px;
}

.Line3 {
  background-image: url(../assets/line3.png);
  background-repeat: no-repeat;
  background-position: top -50px right 155px;
}

.Leaves {
  background-image: url(../assets/leaves.png);
  background-repeat: no-repeat;
  /*background-size: 7% 100%;*/
  background-position: left;
}

/*.canvas {
  margin-left: 150px;
  margin-right: 50px;
  margin-top: 90px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}*/
