.App {
  text-align: center;
}

/*.floor {
  background-image: url(./Floor.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

.fan {
  background-image: url(./favpng_paper-hand-fan.png);
  background-repeat: no-repeat;
  background-size: 20% 30%;
  background-position: bottom -5px left 130px;
}

.table {
  background-image: url(./table.png);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: center;
}

.ukiyo {
  background-image: url(./temporary-wood-engraving.png);
  background-repeat: no-repeat;
  background-size: 50% 75%;
  background-position: bottom;
}

.paintArea {
  background-image: url(./utility-side-table.png);
  background-repeat: no-repeat;
  background-size: 50% 20%;
  background-position: top 30px left 340px;
}

.sheets {
  background-image: url(./temparary-papers-table-top.png);
  background-repeat: no-repeat;
  background-size: 65% 80%;
  background-position: bottom;
}

.sousaku {
  background-image: url(./Sousaku.png);
  background-repeat: no-repeat;
  background-size: 10% 10%;
  background-position: bottom 5px right 10px;
}

.paintcolor {
  background-image: url(./paintcolor.png);
  background-repeat: no-repeat;
  background-size: 9% 40%;
  background-position: bottom 65px right 10px;
}

.blackpaint {
  background-image: url(./blackpaint.png);
  background-repeat: no-repeat;
  background-size: 8% 15%;
  background-position: top 45px right 330px;
}

.redpaint {
  background-image: url(./redpaint.png);
  background-repeat: no-repeat;
  background-size: 8% 15%;
  background-position: top 50px right 385px;
}

.temporaryblackpaint {
  background-image: url(./temporary-black-paint.png);
  background-repeat: no-repeat;
  background-size: 5% 12%;
  background-position: bottom 90px right 35px;
}

.temporaryredpaint {
  background-image: url(./temporary-red-paint.png);
  background-repeat: no-repeat;
  background-size: 5% 12%;
  background-position: bottom 150px right 35px;
}

.brush {
  background-image: url(./brush.png);
  background-repeat: no-repeat;
  /* background-size: 10% 10%;*/
  background-position: top 55px right 500px;
}

.splat {
  background-image: url(./splat.png);
  background-repeat: no-repeat;
  background-position: top 35px right 630px;
}

.circle1 {
  background-image: url(./Ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 100px;
}

.circle2 {
  background-image: url(./Ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 65px;
}

.circle3 {
  background-image: url(./Ellipse.png);
  background-repeat: no-repeat;
  background-position: top 130px right 30px;
}

.line1 {
  background-image: url(./line1.png);
  background-repeat: no-repeat;
  background-position: top -50px right 110px;
}

.line2 {
  background-image: url(./line2.png);
  background-repeat: no-repeat;
  background-position: top -50px right 75px;
}

.line3 {
  background-imae: url(./line3.png);
  background-repeat: no-repeat;
  background-posigtion: top -50px right 40px;
}

.leaves {
  background-image: url(./leaves.png);
  background-repeat: no-repeat;
  background-position: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.canvas {
  margin-left: 150px;
  margin-right: 50px;
  margin-top: 90px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.animation {
  margin-top: 100px;
}

.homeButton {
  text-align: center;
  /*margin-left: 50px;*/
  /*position: relative*/
}

.previousNext {
  text-align: center;
  /* margin-left: 50px;*/
}

.container {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
