
.App {
  /*display: flex;*/
  flex-direction: column;
  height: 100%;
  /* margin-left: 40px;*/
  text-align: center;
  overflow: hidden;
}

.App2 {
  flex-direction: column;
  height: 100%;
  text-align: center;
  /* overflow: hidden; */
}

.logoContainer {
  display: flex;
  text-align: left;
}

.japanesePictureContainer {
  /* display: flex; */
  margin-top: -150px;
  /* margin-left: 150px; */
  /* width: 2025px; */
  /* object-fit: scale-down; */
}

.homeButtonDiv {
  display: flex;
  margin-top: -700px;
  margin-left: 300px;
}

.tryForFreeButton {
  background-color: #111b47;
  border-style: none;
}

.tryForFreeButton2 {
  background-color: #111b47;
  margin-top: -1500px;
  width: 296px;
  height: 134px;
  font-size: xx-large;
  border-style: none;
}

.appStoreButton:hover {
  cursor: pointer;
}

.androidButton:hover {
  cursor: pointer;
}

.webAppButton:hover {
  cursor: pointer;
}

.appButtonsDiv {
  margin-top: 250px;
  margin-right: 140px;
}

.introduction {
  align-items: center;
  text-align: left;
}

.akasataAndTextDiv {
  margin-left: 210px;
  margin-top: 150px;
  font-family: 'SF UI Display Ultralight';
}

.phoneDiv {
  margin-top: 100px;
  width: 1522px;
  height: 1039px;
  background-color: #bd4040;
}
.phone {
  margin-top: 200px;
}

.signButtons {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}

.signIn {
  width: 200px;
  height: 80px;
  margin-right: 100px;
  background-color: #969191;
  border-style: none;
}

.signUp {
  width: 200px;
  height: 80px;
  background-color: #bd3838;
  border-style: none;
}

.signUp:hover {
  background-color: #969191;
}

.platformsDiv {
  margin-top: 200px;
}

.signText {
  font-family: "Courgette", cursive;
  margin-left: 285px;
  margin-top: -260px;
}

.icons {
  margin-top: -235px;
  margin-left: 780px;
}

.facebookIcon {
  margin-right: 20px;
}

.appleIcon {
  margin-left: 25px;
  margin-top: -140px;
}

.googlePlusIcon {
  margin-left: 230px;
  margin-right: -20px;
}

.bioInfo {
  text-align: left;
  margin-left: 150px;
  font-family: 'SF UI Display Heavy';
  width: 600px
 
}

.bioDiv {
  background-color: #bd4040;
  margin-top: -100px;
  padding-bottom: 50px;
}

.bioIcons {
  margin-left: 200px;
  margin-top: 155px;
  width: 500px
}

.claybioIcons {
  margin-left: 150px;
}

.mainSignUp {
  background-color: #bd3838;
  border-style: none;
}

.mainSignIn {
  background-color: #969191;
  border-style: none;
}

.mainSignIn:hover {
  background-color: #969191;
}

.mainSignUp:hover {
  background-color: #bd3838;
  border-style: none;
}

.justify-content-end {
  margin-right: 100px;
  padding-top: 50px;
}

.glassPaletteDiv {
  margin-top: 200px
}

.sketchDiv {
  margin-top: -800px;
}

.handfanDiv {
  width: 1522px;
}

.handfan {
  margin-right: -210px;
  margin-top: -180px;
}

.emailIcon {
  
}

.linkedin {
  margin-right: 60px
}

.portfolio {
  margin-left: 70px
}

.button {
  /* margin-top: 10px; */
  
}

.meetSkilCraftDiv {
  margin-bottom: 100px;
  width: 1522px;
}

/* .bredellPortfolio {
  width: 500px;
}
.clayPhoto {
  width: 500px;
} */